# Ambiente virtual
.venv/
 venv/

# Variáveis de ambiente
.env
.venv/

# Cache Python
__pycache__/
*.pyc

# Banco local
modelador.db
*.db

# Uploads
uploads/

# Arquivos do sistema/editor
.vscode/
.DS_Store
